html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Gill Sans Extrabold", sans-serif;
  --theme-color-1: #f50;
  --theme-color-2: #394555;
  color: #454545;
}

body {
  color: var(--main-foreground);
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  max-width: 100%; /* Change to 100% for better responsiveness */
  margin: 2em 0; /* Center the content on smaller screens */
  padding: 0px 15px; /* Add padding for better readability on smaller screens */
}

/* Rest of your existing styles remain unchanged */

/* 新しいセクション "Skills" に適用するスタイル */
#skills {
  margin-top: 50px;  /* Skillsセクションの上部のマージン */
}

#skills h2 {
  color: var(--theme-color-2);  /* セクションの見出しの色を変更 */
  margin-bottom: 20px;  /* 見出しとスキルリストの間のマージンを調整 */
}

#skills p {
  margin-bottom: 30px;  /* スキルの説明文とスキルリストの間のマージンを調整 */
}

u2 {
  list-style: none;
  padding: 0;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
}

u2 li {
  position: relative;
  padding: 0 0 0 1.6em;
  margin: 0;
  text-indent: 0.5em;
}

u2 li::before {
  position: absolute;
  left: 0.5em;
  top: 0.4em;
  font-size: 75%;
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  content: "\f0ae";
}
